<?xml version="1.0"?>
<config>
    <modules>
        <GhoSter_VietnameseCheckout>
            <version>1.0.0</version>
        </GhoSter_VietnameseCheckout>
    </modules>
    <global>
        <models>
            <ghoster_vietnamesecheckout>
                <class>GhoSter_VietnameseCheckout_Model</class>
                <resourceModel>ghoster_vietnamesecheckout_resource</resourceModel>
            </ghoster_vietnamesecheckout>
            <ghoster_vietnamesecheckout_resource>
                <class>GhoSter_VietnameseCheckout_Model_Resource</class>
            </ghoster_vietnamesecheckout_resource>
        </models>
        <blocks>
            <ghoster_vietnamesecheckout>
                <class>GhoSter_VietnameseCheckout_Block</class>
            </ghoster_vietnamesecheckout>
            <checkout>
                <rewrite>
                    <links>GhoSter_VietnameseCheckout_Block_Checkout_Links</links>
                    <onepage>GhoSter_VietnameseCheckout_Block_Checkout_Onepage</onepage>
                </rewrite>
            </checkout>
            <tax>
                <rewrite>
                    <checkout_shipping>GhoSter_VietnameseCheckout_Block_Tax_Checkout_Shipping</checkout_shipping>
                </rewrite>
            </tax>
        </blocks>
        <helpers>
            <ghoster_vietnamesecheckout>
                <class>GhoSter_VietnameseCheckout_Helper</class>
            </ghoster_vietnamesecheckout>
        </helpers>
        <resources>
            <ghoster_vietnamesecheckout_setup>
                <setup>
                    <module>GhoSter_VietnameseCheckout</module>
                </setup>
            </ghoster_vietnamesecheckout_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <checkout_cart_save_before>
                <observers>
                    <autoshipping>
                        <type>singleton</type>
                        <class>ghoster_vietnamesecheckout/observer</class>
                        <method>prepareShippingAddress</method>
                    </autoshipping>
                </observers>
            </checkout_cart_save_before>
            <checkout_cart_save_after>
                <observers>
                    <autoshipping>
                        <type>singleton</type>
                        <class>ghoster_vietnamesecheckout/observer</class>
                        <method>addShipping</method>
                    </autoshipping>
                </observers>
            </checkout_cart_save_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <autoshipping>
                        <type>singleton</type>
                        <class>ghoster_vietnamesecheckout/observer</class>
                        <method>beforeBlockToHtml</method>
                    </autoshipping>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <GhoSter_VietnameseCheckout before="Mage_Checkout">GhoSter_VietnameseCheckout</GhoSter_VietnameseCheckout>
                    </modules>
                </args>
            </checkout>
            <vnshipping>
                <use>standard</use>
                <args>
                    <module>GhoSter_VietnameseCheckout</module>
                    <frontName>vnshipping</frontName>
                </args>
            </vnshipping>
        </routers>
        <layout>
            <updates>
                <ghoster_vietnamesecheckout>
                    <file>ghoster/checkout.xml</file>
                </ghoster_vietnamesecheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <GhoSter_VietnameseCheckout>
                    <files>
                        <default>GhoSter_VietnameseCheckout.csv</default>
                    </files>
                </GhoSter_VietnameseCheckout>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <GhoSter_VietnameseCheckout>
                    <files>
                        <default>GhoSter_VietnameseCheckout.csv</default>
                    </files>
                </GhoSter_VietnameseCheckout>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vietnamesecheckout>
                                            <title>Vietnamese Checkout</title>
                                        </vietnamesecheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <vietnamesecheckout>
            <cart_settings>
                <country_id>VN</country_id>
                <show_country_selection_in_cart>1</show_country_selection_in_cart>
            </cart_settings>
        </vietnamesecheckout>
    </default>
</config>